global:
  scrape_timeout_offset: 500ms
  min_interval: 0s
  max_connections: 1
  max_idle_connections: 1

jobs:
  - job_name: database_metrics
    collectors: [database_1h]
    static_configs:
      - targets:
          postgres: "{{ 'postgres://%s:%s@localhost:5432/postgres?application_name=sql_exporter&sslmode=disable' | format(sql_exporter_db_user, sql_exporter_db_password) }}"

  - job_name: instance_metrics
    collectors: [instance_10s, instance_1m, instance_1h]
    static_configs:
      - targets:
          base: "{{ 'postgres://%s:%s@localhost:5432/postgres?application_name=sql_exporter&sslmode=disable' | format(sql_exporter_db_user, sql_exporter_db_password) }}"

collector_files:
  - "*.collector.yml"
