[
{% for host in host_data %}
  {
    "targets": ["{{ host.ip }}:{{ item.port }}"],
    "labels": {
      "instance": "{{ host.ip }}",
      "hostname": "{{ host.hostname }}"
    }
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
