[
{% for host in ansible_play_hosts_all %}
  {
    "targets": ["{{ host.ip }}:{{ exporter_port }}"],
    "labels": {
      "ip": "{{ host.ip }}",
      "hostname": "{{ host.hostname }}"
    }
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
